@use 'forms';

body {
  margin: 0;
}

.p-card {
  box-shadow: $box-shadow !important;
}

.p-tooltip {
  .p-tooltip-text {
    color: #ffffff;
    background-color: #334155;
    padding: 0.3rem 0.4rem;
    border-radius: 0.3rem;
    font-size: 0.9rem;
  }

  .p-tooltip-arrow {
    display: none;
  }

  &.p-tooltip-right {
    transform: translateX(5px);
  }

  &.p-tooltip-left {
    transform: translateX(-5px);
  }

  &.p-tooltip-top {
    transform: translateY(-5px);
  }

  &.p-tooltip-bottom {
    transform: translateY(5px);
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
  background: #000000;
}

::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: #666666;
}

::-webkit-scrollbar-track:active {
  background: #333333;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
