// Generic variables
$primary: var(--p-primary-color);
$gap: 0.75rem;
$box-shadow:
  0.7px 1.1px 2.2px rgba(0, 0, 0, 0.02),
  1.7px 2.7px 5.3px rgba(0, 0, 0, 0.028),
  3.1px 5px 10px rgba(0, 0, 0, 0.035),
  5.6px 8.9px 17.9px rgba(0, 0, 0, 0.042),
  10.4px 16.7px 33.4px rgba(0, 0, 0, 0.05),
  25px 40px 80px rgba(0, 0, 0, 0.07);

// z-index
$body-z-index: 0;
$sidebar-z-index: 1000;
$overlay-z-index: 999;
$navbar-z-index: 998;
$inner-cursor-z-index: 1005;
$outer-cursor-z-index: 1004;
$read-more-z-index: 1001;

// Media queries breakpoints
$xs: 400px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

@media (min-width: $xs) {
}

@media (min-width: $sm) {
}

@media (min-width: $md) {
}

@media (min-width: $lg) {
}

@media (min-width: $xl) {
}
